* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.5px;
}

h1 {
  font-weight: 600;
  font-size: xx-large;
}
h2 {
  font-weight: 500;
}

p {
  font-weight: 400;
  color: gray;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.fruits-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}
