:root {
  --primary-color: #f7345e;
  --secondary-color: #f7345ed3;
  --terciary-color: #111111;
  --container-padding: 30px;
  --custom-shadow: 1px 1px 1px 3px var(--primary-color);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.5px;
}

li,
li a,
h1 a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* Home page */
.doughnut{
  width: 25%;
  height: 25%;
}

/* Yard page */
.yard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px 100px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
