header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--container-padding);
}

.frutile-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-info-container {
  display: flex;
  align-items: center;
  gap: 100px;
}
